/* ************************    GENERAL    ************************ */
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}
/* ************************    NAVBAR    ************************ */

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  align-items: center;
  height: 60px;
}

.navbar_accommodation_and_activities {
  display: flex;
  gap: 70px;
}

.navbar_accommodation_and_activities li {
  position: relative;
  max-width: max-content;
  transition: all 0.2s;
}

.navbar_accommodation_and_activities li:hover {
  color: var(--main-color);
}

.navbar_accommodation_and_activities li::before {
  width: 0;
  content: "";
  transition: all 0.2s;
}

.navbar_accommodation_and_activities li:hover::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  background: var(--main-color);
  height: 2px;
  width: 100%;
}

#logo {
  width: 60px;
  margin-top: 20px;
}

/* ************************    FILTRES ET RECHERCHES    ************************ */
.main-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 4% 0 2% 0;
}

.search-form {
  display: flex;
  margin: 10px 0;
}

#location-dot {
  width: 15px;
  height: auto;
}

#location-dot-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--main-bg-color);
  border-radius: 30% 10% 10% 30% / 30% 0% 0% 30%;
  min-width: 50px;
}

#magnifying-glass {
  display: none;
}

input,
button {
  all: unset;
}

input {
  border: solid 1px;
  border-color: var(--main-bg-color);
  padding: 0 30px 0 20px;
  font-weight: bold;
  width: 150px;
  font-size: 1.1rem;
  height: 48px;
}

#search-btn {
  background-color: var(--main-color);
  border-radius: 0% 10% 10% 0% / 30%;
  padding: 15px;
  color: white;
  font-weight: 500;
  width: 105px;
  letter-spacing: 0.9px;
  height: 20px;
  transition: all 0.2s;
}

#search-btn:hover {
  cursor: pointer;
  background-color: #0045ac;
}
/* ************************    FILTERS    ************************ */
.filters-content {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 30px 0;
  font-weight: 600;
}
.filters__wrapper {
  display: flex;
  gap: 20px;
}
.filters__group {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.filters__button {
  display: flex;
  align-items: center;
  gap: 10px;
  border: solid 2px #d1d1d1;
  padding: 13px 17px;
  border-radius: 30px;
  transition: all 0.2s;
}

.filters__button:hover {
  background-color: var(--filter-bg-color);
  cursor: pointer;
}

.filters__button img {
  width: 20px;
}

#person {
  width: 13px;
}

.info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 25px 0;
}

.info_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 1px var(--filter-bg-color);
  padding: 5px;
}

.info img {
  width: 5px;
}

/*     *************  MAIN  *************     */
body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.card-txt {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.9rem;
}

.card-txt-nowrap {
  white-space: nowrap;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/******************************** ACCOMMODATIONS AND POPULAR ********************************/
.accommodation-and-popular__wrapper {
  display: flex;
  justify-content: space-between;
}

.accommodation-and-popular__wrapper section {
  /* background-color: var(--main-bg-color); */
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/******************************** ACCOMMODATIONS SECTION ********************************/
.accommodation {
  width: 65%;
  background-color: var(--main-bg-color);
}

.accommodation__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 30px;
}

.accommodation__cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 6px;
}

.accommodation__cards .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 240px;
}

.accommodation__cards img {
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.see-more {
  margin-top: 3%;
}
/* ******************************** POPULAR SECTION ******************************** */
.popular {
  width: 32%;
  background-color: var(--main-bg-color);
}

.popular__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular__cards .card {
  display: flex;
  margin-top: 33px;
}

.popular__cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.popular__cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.popular__cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.popular__cards .card-subtitle {
  margin: 0;
}

.popular__cards .card-rating {
  margin-bottom: 10px;
}

.card-rating {
  display: flex;
  flex-direction: row;
  margin: 5% 0 12%;
  gap: 2px;
}

/* ******************************** ACTIVITIES ******************************** */
.activities__card img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.activities__card {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 90%;
  border-radius: 20px;
  box-shadow: rgb(22 22 22 / 10%) -1px 7px 18px 0px;
}

.activities__list {
  display: flex;
  gap: 30px;
  margin-left: 15px;
  margin-bottom: 50px;
}

.activities__list a {
  width: 100%;
}

.activities h2 {
  margin: 50px 0 20px;
}

.activities__title {
  font-size: 16px;
  padding-left: 10px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-left: 10px;
}

/* ******************************** FOOTER ******************************** */
.footer {
  background-color: var(--main-bg-color);
  height: 7%;
  display: flex;
  gap: 20%;
  padding: 20px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__title {
  font-size: larger;
  font-weight: 600;
}

/* ******************************** RESPONSIVE ******************************** */
/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/

/* ******************************** TABLETS ******************************** */
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /******************************** ACCOMMODATIONS AND POPULAR ********************************/
  .accommodation-and-popular__wrapper {
    flex-direction: column;
  }

  .accommodation__cards {
    justify-content: center;
  }

  .accommodation__cards .card {
    height: 210px;
  }

  .accommodation {
    width: 100%;
  }

  .popular {
    width: 100%;
    margin-top: 50px;
  }

  .popular__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .popular__cards a {
    width: 32%;
  }

  .popular__cards .card-title {
    font-size: 14px;
  }

  .popular__cards .card-subtitle {
    font-size: 13px;
  }
  /* ********************************    FILTERS    ******************************** */

  .filters-content {
    flex-direction: column;
    align-items: flex-start;
  }

  /* ******************************** ACTIVITIES ******************************** */

  .activities h2 {
    margin: 70px 20px 40px;
  }
  .activities__card {
    height: 85%;
    gap: 0;
  }

  .activities__card img {
    height: 75%;
  }

  .activities__title {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
}
/* ******************************** SMARTPHONE ******************************** */
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ********************************    NAVBAR    ******************************** */
  nav {
    flex-direction: column;
    margin: 30px;
  }

  #logo {
    margin-top: 0;
  }
  .main-title {
    margin: 50px 0 2px 15px;
  }

  #navbar-accommodation:hover::before {
    content: "";
    position: absolute;
    left: -240px;
    background: var(--main-color);
    height: 2px;
    width: 340%;
    bottom: -22px;
    top: auto;
  }

  #navbar-activities:hover::before {
    content: "";
    position: absolute;
    left: -43px;
    background: var(--main-color);
    height: 2px;
    width: 45vw;
    bottom: -22px;
    top: auto;
  }

  .navbar_accommodation_and_activities::before {
    content: "";
    position: absolute;
    top: 110px;
    left: 0%;
    background: var(--main-bg-color);
    height: 2px;
    width: 100%;
  }

  /* ********************************    FILTERS & SEARCH   ******************************** */

  #magnifying-glass {
    display: block;
    width: 20px;
  }

  #search {
    display: none;
  }
  .form__wrapper {
    display: flex;
    justify-content: center;
  }

  .search-form {
    margin: 30px 7px 30px 0;
    position: relative;
  }

  input {
    padding-right: 70px;
    width: 160px;
    font-size: 1rem;
  }
  #search-btn {
    border-radius: 15px;
    width: 20px;
    position: absolute;
    left: 260px;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 42%);
  }

  .filters-content {
    margin: 30px 0 0 1%;
    margin: 0;
  }

  .filters {
    display: flex;
    justify-content: center;
    justify-items: center;
  }

  .filters__group {
    gap: 10px;
  }
  .filters__wrapper {
    flex-direction: column;
    font-size: 0.8rem;
    white-space: nowrap;
  }

  .filters__button {
    width: 115px;
  }

  .info {
    margin: 30px 0 30px 1%;
  }

  .info_img {
    min-width: 15px;
  }

  .accommodation {
    min-width: 320px;
    background-color: white;
  }

  .accommodation-and-popular__wrapper {
    flex-direction: column-reverse;
  }

  /*     ********************************  MAIN  ********************************     */

  .main-container {
    padding: 0;
  }

  .header__wrapper {
    padding: 0 15px;
  }

  /******************************** ACCOMMODATIONS AND POPULAR ********************************/

  .popular__cards {
    display: block;
  }

  .card img {
    object-position: center 70%;
  }

  .accommodation__cards {
    display: block;
  }
  .accommodation__cards .card {
    width: 100%;
    margin-bottom: 20px;
    height: 215px;
  }
  #hebergements {
    background-color: white;
  }

  .accommodation-and-popular__wrapper section {
    padding: 40px 20px 20px 20px;
    border-radius: 0;
  }

  .popular {
    margin-top: 0;
  }

  .popular__cards .card {
    margin-top: 20px;
  }
  .see-more {
    margin: 3% 0 0 3%;
  }
  /* ******************************** ACTIVITIES ******************************** */

  .activities h2 {
    margin: 70px 20px 40px 30px;
  }
  .activities__list {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .activities__list a {
    width: 85%;
  }

  .activities__card img {
    height: 75%;
  }

  .activities__card {
    height: 200px;
  }

  /* ******************************** FOOTER ******************************** */

  .footer {
    flex-direction: column;
    height: 10%;
    display: flex;
    gap: 10%;
    padding: 30px;
  }
}
