/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}
/* ************************    NAVBAR    ************************ */

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  align-items: center;
  height: 60px;
}

ul {
  display: flex;
  gap: 70px;
}

li {
  position: relative;
  max-width: max-content;
  transition: all 0.2s;
}

li:hover {
  color: var(--main-color);
}

li::before {
  width: 0;
  content: "";
  transition: all 0.2s;
}

li:hover::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  background: var(--main-color);
  height: 2px;
  width: 100%;
}

#logo {
  width: 60px;
  margin-top: 20px;
}

/* ************************    FILTRES ET RECHERCHES    ************************ */
.titre {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 4% 0 2% 0;
}

.formulaire {
  display: flex;
  margin: 10px 0;
}

#location-dot {
  width: 15px;
  height: auto;
}

#location-dot-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--main-bg-color);
  border-radius: 30% 10% 10% 30% / 30% 0% 0% 30%;
  min-width: 50px;
}

#magnifying-glass {
  display: none;
}

/* Enlever les styles définis */
input,
button {
  all: unset;
}

input {
  border: solid 1px;
  border-color: var(--main-bg-color);
  padding: 0 30px 0 20px;
  font-weight: bold;
  width: 150px;
  font-size: 1.1rem;
  height: 48px;
}

#search-btn {
  background-color: var(--main-color);
  border-radius: 0% 10% 10% 0% / 30%;
  padding: 15px;
  color: white;
  font-weight: 500;
  width: 105px;
  letter-spacing: 0.9px;
  height: 20px;
  transition: all 0.2s;
}

#search-btn:hover {
  cursor: pointer;
  background-color: #0045ac;
}
/* ************************    FILTRES    ************************ */
.filters-wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 30px 0;
  font-weight: 600;
}
.filters-btn-wrapper {
  display: flex;
  gap: 20px;
}
.filters-duo-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.filter_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  border: solid 2px #d1d1d1;
  padding: 13px 17px;
  border-radius: 30px;
  transition: all 0.2s;
}

.filter_btn:hover {
  background-color: var(--filter-bg-color);
  cursor: pointer;
}

.filter_btn img {
  width: 20px;
}

#person {
  width: 13px;
}

.info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 25px 0;
}

.info_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 1px var(--filter-bg-color);
  padding: 5px;
}

.info img {
  width: 5px;
}

/* ************************    BODY    ************************ */
body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.card-txt {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.9rem;
  /* white-space: nowrap; */
}

.card-txt-nowrap {
  white-space: nowrap;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  /* background-color: var(--main-bg-color); */
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  background-color: var(--main-bg-color);
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
} */

/* .hebergements .card {
  display: flex;
  margin-top: 33px;
} */

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 30px;
}

.hebergements-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 6px;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 240px;
}

.hebergements-cards img {
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.see-more {
  margin-top: 3%;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
  background-color: var(--main-bg-color);
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 10px;
}

.card-rating {
  display: flex;
  flex-direction: row;
  margin: 5% 0 12%;
  gap: 2px;
}

/* ******************************** ACTIVITE ******************************** */
.activite-card img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.activite-card {
  width: 300px;
  height: 450px;
  border-radius: 20px;
  box-shadow: -1px 7px 18px 0px rgb(22 22 22 / 14%);
  margin: 0 0 0 15px;
  flex-shrink: 0;
}
.activite-title {
  padding: 15px;
}

.activite-wrapper {
  margin-bottom: 30px;
  display: flex;
  gap: 15px;
}

.activites h2 {
  margin: 50px 0 20px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .filters-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ************************    NAVBAR    ************************ */
  nav {
    flex-direction: column;
    margin: 30px;
  }

  #logo {
    margin-top: 0;
  }

  li:hover::before {
    top: 35px;
    width: 200%;
    left: -30px;
  }

  li::before {
    content: "";
    position: absolute;
    top: 35px;
    left: -30px;
    background: var(--main-bg-color);
    height: 2px;
    width: 200%;
  }

  .populaires {
    margin-top: 0;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  /* ************************    FILTRES ET RECHERCHES    ************************ */

  #magnifying-glass {
    display: block;
    width: 20px;
  }

  #rechercher {
    display: none;
  }

  input {
    position: relative;
    padding-right: 70px;
    width: 130px;
    font-size: 1rem;
  }
  #search-btn {
    border-radius: 15px;
    width: 20px;
    position: absolute;
    left: 260px;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 42%);
  }

  .filters-btn-wrapper {
    flex-direction: column;
    font-size: 0.8rem;
    white-space: nowrap;
  }

  .filter_btn {
    min-width: 35%;
  }

  .hebergements {
    min-width: 320px;
    background-color: white;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .main-container {
    padding: 0;
  }

  .header_wrapper {
    padding: 0 15px;
  }

  .populaires-cards {
    display: block;
  }

  .hebergements-cards {
    display: block;
  }
  .hebergements-cards .card {
    width: 100%;
    margin-bottom: 20px;
  }
  #hebergements {
    background-color: white;
  }

  .formulaire {
    margin: 30px 0;
  }

  .hebergements-and-populaires section {
    padding: 20px;
  }

  .populaires-cards .card {
    margin-top: 20px;
  }

  .filters-duo-wrapper {
    gap: 10px;
  }
}
